.choice(class=FRONT_PAGE && 'choice--texture')
  .c
    h2.choice__title Все наши клиенты выбирают нас, потому что мы:
    .choice__content
      .choice__image.lazy(data-src='modules/choice/choice-image.jpg')
      .choice__text
        .choice__item Соблюдаем необходимые процесс строительства
        .choice__item Проводим бесплатные экскурсии в уже построенные дома
        a.btn.popup__opener(href='#excursion') ЗАПИСАТЬСЯ НА ЭКСКУРСИЮ
        .choice__item Присылаем еженедельный детальный фотоотчет о ходе строительства
        .choice__item Фиксируем стоимость сразу,и не меняем ее в процессе работ
        .choice__item Помогаем в подборе участкас учетом геологических и географических пожеланий клиента
