.welcome
  .c
    .welcome__content
      h1.welcome__title Строительство#[br]домов
      h2.welcome__subtitle с финским качеством с соблюдением всех современных норм и правил
    .welcome__form
      .welcome__text Получите бесплатное#[br]проектирование
      .welcome__inputWrapper
        input.welcome__input(type='tel' placeholder='Ваш номер телефона:')
      button.btn.btn--block ПОЛУЧИТЬ БЕСПЛАТНОЕ#[br]ПРОЕКТИРОВАНИЕ

    .welcome__test
      .welcome__testContent
        .welcome__testTitle Тест: Подбор дома
        .welcome__testText Пройдите тест, чтобы узнать, какой дом#[br]подойдет именно Вам
      a.welcome__testButton(href='#')
        |Открыть
        svg: use(xlink:href="#icon-long-arrow")
