.tz
  .c
    img.tz__image.lazy(src='modules/tz/tz-img.png')
    .tz__form
      h2.tz__title Бесплатно составим ТЗ#[br] и рассчитаем смету на Ваш проект#[br] в течение 2 дней
      .input.input--phone: input(placeholder='Ваш номер телефона:')
      .input: textarea(placeholder='И опишите Вашу задачу:')
      button.btn.btn--block ПОЛУЧИТЕ ТЗ И РАСЧЕТ СМЕТЫ БЕСПЛАТНО
