.catalogAdvantages
  @media (max-width: $breakpoint-lg - 1)
    display: none;

  &__title
    text-align: center;
    font-size: 36px
    margin: 76px 0 67px

  &__items
    display: flex;
    justify-content center
    flex-wrap wrap

  &__item
    width: 33.3333%
    margin-bottom: 45px

  &__img
    height: 115px
    margin-bottom: 16px
    background-position: 50% 50%
    background-repeat: no-repeat

  &__header
    text-align: center;
    font-weight: 500
    line-height: 1.65

