.contactsForm
  .c
    h2.contactsForm__title Подпишитесь на новости компании#[br] и не пропускайте выгодные скидки и акции
    .contactsForm__form
      .contactsForm__row
        .input.input--phone: input( placeholder='Ваша почта для подписки:')
        .input: input( placeholder='Ваш телефон для подтверждения подписки:')
      .contactsForm__btn: button.btn ПОДПИСАТЬСЯ НА ОБНОВЛЕНИЯ
