// ====================================
// colors
// ====================================
$black       = #1d1d1d
$red        = #E02229
// ====================================
// typography
// ====================================
//$font-size = 16px
//$line-height = remove-unit(24 / $font-size)

// ====================================
// grid settings
// ====================================

$gutter = 10px
$gutter-half = ($gutter / 2)

$breakpoint-sm = 480px
$breakpoint-md = 768px
$breakpoint-lg = 1300px

$container-sm = 520px
$container-md = 768px
$container-lg = 1300px
