.networks.lines
  .c: h2.networks__title Какие работы оказывает наша компания?
  .networks__items
    .networks__item: .c
      .networks__img(style='background-image: url(modules/networks/img/networks-img1.jpg)')
        .networks__imgLabel от 300 000 руб
      .networks__content
        h3.networks__header Системы отопления
        ul
          li Использование сшитого полиэтилена европейского производства и латунных фитингов при монтаже систем
          li Разводка труб скрытым способом
          li Применение аэробного герметика в местах уплотнения резьбовых соединений
          li Разводка труб по дому без сверления лаг, балок и других несущих конструкций
          li Использование воздуховодов из нержавеющей стали для газовой вентиляции
          li Пусконаладка системы отопления после завершения комплексного монтажа по отоплению
          li Круглогодичное техническое обслуживание системы отопления
        .networks__button: button.btn УЗНАТЬ ПОДРОБНЕЕ

    .networks__item: .c
      .networks__img(style='background-image: url(modules/networks/img/networks-img2.jpg)')
        .networks__imgLabel от 1 000 руб/м2
      .networks__content
        h3.networks__header Электромонтаж
        ul
          li Лабораторные испытания электрического кабеля при поставке на склад
          li Монтаж электрики по лучевой схеме: все кабельные линии коммутируются в одном месте — электрическом щите
          li Подбор защитной автоматики щита по европейским стандартам
          li Собственные разработки по обеспечению безопасности эксплуатации
          li Проверка работоспособности защитной автоматики перед сдачей объекта
          li Проверка целостности кабельных линий на предмет изоляции после завершения монтажа
          li Проведение ТО систем электроснабжения
        .networks__button: button.btn УЗНАТЬ ПОДРОБНЕЕ

    .networks__item: .c
      .networks__img(style='background-image: url(modules/networks/img/networks-img3.jpg)')
        .networks__imgLabel от 50 000 руб
      .networks__content
        h3.networks__header Печи, камины
        ul
          li Подбор и установка печей длительного горения
          li Подбор и установка печей для саун и бань
          li Подбор и установка печей-каминов
          li Подбор и установка кассетных каминов
        .networks__button: button.btn УЗНАТЬ ПОДРОБНЕЕ

    .networks__item: .c
      .networks__img(style='background-image: url(modules/networks/img/networks-img4.jpg)')
        .networks__imgLabel от 1 000 руб/м2
      .networks__content
        h3.networks__header Септики и канализации
        ul
          li Подбор и установка септиков и станций биологической очистки под потребности закзачика
        .networks__button: button.btn УЗНАТЬ ПОДРОБНЕЕ
