.screen-reader-response
  display: none

//.wpcf7-form-control-wrap
//  position: relative
//  display: block

.wpcf7-not-valid-tip
  display: none;
  //position: absolute
  //font-size: 11px
  //color: red
  //top: 100%
  //margin-top: 4px

.wpcf7-response-output
  display: none !important
  //font-size: 12px
  //margin-top: 8px
  //text-align: center
  //color: red
  //
  //&.wpcf7-mail-sent-ok
  //  color: $green
