.blog
  .c
    .blog__img(style='background-image: url(modules/blog/img/blog-img.jpg)')
      a.blog__back(href='#') << Назад к блогу
    .blog__header
      .blog__title
        h1 Как правильно выбрать дом для всесезонной жизни
        .blog__date 29 МАЯ 2019
      .blog__text
        p Банк России выпустил в обращение памятную номиналом 100 рублей банкноту к Чемпионату мира по футболу FIFA 2018. Это первая рублевая банкнота, полностью выполненная из полимерной пленки. Пластиковый субстрат в будущем будет использован при модернизации части других купюр. На ощупь банкнота ничем не напоминает обычные деньги. Гознак впервые полностью самостоятельно изготовил специальные составы.
    .blog__content
      p По оценкам специалистов, срок службы пластиковых банкнот низких номиналов в два с половиной раза больше, чем бумажных банкнот. Новые технологии Гознак уже опробовал на банкноте номиналом 200 рублей, которая внедряется в оборот с конца прошлого года, - ее полотно из традиционного материала дополнительно пропитывается полимером для увеличения износостойкости. Новая купюра, как и предыдущие памятные банкноты номиналом в 100 рублей (выпущенные в 2013 году к Олимпиаде в Сочи и в 2015 году в честь присоединения Крыма), имеет традиционный вертикальный дизайн.
      p Впервые на рублевой банкноте изображен реальный человек, не являвшийся руководителем государства. На лицевой стороне - композиция, символизирующая связь поколений: юный футболист, мечтающий повторить подвиги Льва Яшина, и сам легендарный вратарь "Динамо" в момент прыжка за мячом. На оборотной стороне - мяч, символизирующий земной шар, на котором выделяется карта России, а также перечень городов, принимающих матчи чемпионата, и силуэты болельщиков в цветах российского флага. Кроме того, форма футболиста при наклоне банкноты приобретает яркую окраску. Интересными эффектами обладает и мяч в руке у мальчика: при наклоне банкноты часть его фрагментов плавно меняет цвет с синего на зеленый, другая - с зеленого на синий.
      p Приобрести их можно будет по номиналу (за 100 рублей) в банках, они уже начали поступать в крупные города, в течение июня появятся во всех регионах России. Памятные 100 рублей являются законным средством платежа, но предназначены прежде всего для коллекционеров, поэтому банкоматы под них перенастраиваться не будут.
      p Банк России выпустил в обращение памятную номиналом 100 рублей банкноту к Чемпионату мира по футболу FIFA 2018. Это первая рублевая банкнота, полностью выполненная из полимерной пленки. Пластиковый субстрат в будущем будет использован при модернизации части других купюр. На ощупь банкнота ничем не напоминает обычные деньги. Гознак впервые полностью самостоятельно изготовил специальные составы, которые позволяют закреплять на полимере все виды красок, необходимые для печати банкнот, это третье подобное решение в мире, подчеркнул гендиректор "Гознака" Аркадий Трачук. Хотя для памятной банкноты вопрос защиты от подделок остро не стоит, из-за необычной основы Гознак применил принципиально новые защитные признаки. В углу купюры есть прозрачное "окно" с единым для обеих сторон голографическим изображением мяча, траектория движения которого представлена в виде меняющих цвет колец.
      .blog__tags
        | Теги:
        a.blog__tag(href='#') строительство,
        a.blog__tag(href='#') теплый дом,
        a.blog__tag(href='#') газобетон

      .blog__gallery
        .blog__galleryImage: div(style='background-image: url(modules/blog/img/blog-img.jpg)')
        .blog__galleryImage: div(style='background-image: url(modules/blog/img/blog-img.jpg)')
        .blog__galleryImage: div(style='background-image: url(modules/blog/img/blog-img.jpg)')
        .blog__galleryImage: div(style='background-image: url(modules/blog/img/blog-img.jpg)')
        .blog__galleryImage: div(style='background-image: url(modules/blog/img/blog-img.jpg)')
