.individual
  .c
    .individual__img.lazy(data-src='modules/individual/individual-img.png')
    .individual__content
      .individual__block
        .individual__text Понравившийся Вам проект,#[br] МОЖНО ПОСТРОИТЬ ИЗ ЛЮБОГО МАТЕРИАЛА
        a.btn.btn--block.popup__opener(href='#another') ХОЧУ ПОСТРОИТЬ ИЗ ДРУГОГО МАТЕРИАЛА
      .individual__block
        .individual__text Также мы предлагаем индивидаульное проектирование под потребности заказчика
        a.btn.btn--block ХОЧУ ПОЛУЧИТЬ ИНДИВИДУАЛЬНЫЙ ПРОЕКТ
