.about.about--networks.lines
  .c
    .about__content
      .about__text
        p Любой дом нуждается в грамотном проложении инженерных коммуникаций. Компания Toive занимается не только строительством домов, но и прокладкой инженерных коммуникаций полного спектра. Мы сможем предложить качественные услуги для любого заказчика.
      .about__image
        img.about__top.lazy(data-src='modules/about/about3_01.png')
        img.about__main.lazy(data-src='modules/about/about3_02.jpg')
