.about.about--facing.lines
  .c
    .about__content
      .about__text
        p Для создания в доме комфортной обстановки и уюта и для придания строению привлекательного внешнего вида необходимо провести комплекс отделочных работ. Особую роль при этом играет профессионализм мастеров, качество и характеристики используемых материалов.
      .about__image
        img.about__top.lazy(data-src='modules/about/about2_01.png')
        img.about__main.lazy(data-src='modules/about/about2_02.jpg')
