.about.about--front
  .c
    .about__content
      h2.about__title Компания TOIVE
      .about__subtitle В переводе с финского компания TOIVE - означаем мечта.
      .about__text
        p Мы строим и проектируем под ключ любые дома в Санкт-Петербурге и Ленинградской области. Соблюдаем все правила и нормы, которых в современном мире очень много. Мы успешно работаем в России и Финляндии и готовы предложить нашим клиентам высокое качество и лучший сервис. Выбирайте Toive и живите в мечте!
      .about__image
        img.about__top.lazy(data-src='modules/about/about_01.png')
        img.about__left.lazy(data-src='modules/about/about_02.png')
        img.about__main.lazy(data-src='modules/about/about_03.jpg')
