.about.about--fundament.lines
  .c
    .about__content
      .about__text
        p Прочный и надежный фундамент – это залог длительной эксплуатации всего дома. Способность основы выдерживать внушительные механические нагрузки и срок службы зависят от грамотности проведения расчетов, проектирования, профессионализма проведения работ и качества материалов. По этой причине целесообразно доверить строительство фундаментов в СПб компании «TOIVE», которая позиционируется как серьезная строительная организация, и работает по грамотным финским технологиям, проверенным годами.
      .about__image
        img.about__main.lazy(data-src='modules/about/about-fundament.jpg')
