.fundament.fundament--texture
  .c
    .fundament__head
      .fundament__aside
        h2.fundament__title Устройство ленточного фундамента для дома
        p Для строительства домов на непучинистых и неосадистых грунтах принято использовать так называемый ленточный фундамент. Основным преимуществом этого основания для дома является способность распределения нагрузки от несущих стен на уплотненный грунт. Среди главных достоинств ленточных фундаментов можно отметить их долговечность, экономичность, скорость монтажа, а также возможность установки всех инженерных коммуникаций уже после устройства основания для дома.
        p Ленточный фундамент для дома, как правило, используется в частной застройке. Этот вариант основания применяется в процессе возведения домов, гаражей, коттеджей и даже бань. Широкое распространение такого фундамента, прежде всего, обусловлено его относительно низкой стоимостью и функциональностью.
        p Говоря о заливном ленточном основании для дома, стоит отметить, что на ленточный фундамент цены и так довольно низкие, вам не стоит экономить на материалах. Для монтажа ленточного основания принято использовать песок, арматуру, геотекстиль, щебень и бетон марки М300
      .fundament__image(style='background-image: url(modules/fundament/img/fundament-img1.jpg)')
    .fundament__content
      .fundament__contentContainer: .fundament__contentInner
        ol
          li
            b Геодезическое исследование
            p Для того чтобы установить ленточный фундамент под дом, необходимо провести предварительное геодезическое исследование участка под застройку. Это исследование необходимо для определения типа грунтов и глубины залегания грунтовых вод. Кроме того, геодезическое исследование позволит определить глубину промерзания грунтов.
          li
            b Разметка
            p Одним из первых этапов проектирования дома считается разметка участка. Для разметки участка используются веревки из проволоки, прутья арматуры или колышки. Достижение идеально качественной разметки возможно только лишь при соблюдении некоторых правил. Во-первых, для разметки участка необходимо использовать лазерные нивелиры, отвесы, угольники и другое специальное оборудование. Во-вторых, разметка может быть осуществлена только лишь после проверки всех углов. Наконец, в-третьих, сначала должна быть проведена внешняя разметка и только потом внутренняя.
          li
            b Траншея
            p Ленточный фундамент, цены на который зависят от профессионализма исполнителей, предусматривает выполнение земельных работ. В частности, строители подготавливают траншею с предварительно рассчитанной глубиной. Для того, чтобы стенки траншеи не осыпались, их обычно оборудуют специальными временными подпорками. Дно траншеи должно быть максимально ровным. Поэтому специалисты время от времени проверяют дно на отсутствие уклона.
          li
            b Песчаная подушка
            p Далее в траншею насыпается речной песок, который образовывает песчаную подушку для перераспределения нагрузки. Песок засыпают в несколько слоев, каждый из которых сначала поливают водой, а потом утрамбовывают.
          li
            b Монтаж и заливка
            p Далее ленточный фундамент в СПб предусматривает установку опалубки и арматуры. После этого прокладываются все необходимые инженерные коммуникации. На завершающем этапе выполняется заливка бетоном и утепление основания.
      .fundament__button Развернуть

    include ../gallery/gallery

    .facing__form
      img.facing__formImage.lazy(data-src='modules/facing/img/facing-form1.png' style='top: 66px; left: 36px;')
      .facing__formContent
        h3.facing__formTitle Для подробной консультации заполните #[br]форму ниже
        .facing__formInputs
          .input.input--phone.input--textBlack: input(placeholder='Ваш номер телефона:' type='tel')
          .input.input--textBlack: input(placeholder='Площадь Вашего помещени:')
          button.btn.btn--block УЗНАТЬ ПОДРОБНЕЕ

.fundament.lines
  .c
    .fundament__head
      .fundament__aside
        h2.fundament__title Устройство ленточного фундамента для дома
        p Для строительства домов на непучинистых и неосадистых грунтах принято использовать так называемый ленточный фундамент. Основным преимуществом этого основания для дома является способность распределения нагрузки от несущих стен на уплотненный грунт. Среди главных достоинств ленточных фундаментов можно отметить их долговечность, экономичность, скорость монтажа, а также возможность установки всех инженерных коммуникаций уже после устройства основания для дома.
      .fundament__image(style='background-image: url(modules/fundament/img/fundament-img2.jpg)')
    .fundament__content
      .fundament__contentContainer: .fundament__contentInner
        ol
          li
            b Геодезическое исследование
            p Для того чтобы установить ленточный фундамент под дом, необходимо провести предварительное геодезическое исследование участка под застройку. Это исследование необходимо для определения типа грунтов и глубины залегания грунтовых вод. Кроме того, геодезическое исследование позволит определить глубину промерзания грунтов.
          li
            b Разметка
            p Одним из первых этапов проектирования дома считается разметка участка. Для разметки участка используются веревки из проволоки, прутья арматуры или колышки. Достижение идеально качественной разметки возможно только лишь при соблюдении некоторых правил. Во-первых, для разметки участка необходимо использовать лазерные нивелиры, отвесы, угольники и другое специальное оборудование. Во-вторых, разметка может быть осуществлена только лишь после проверки всех углов. Наконец, в-третьих, сначала должна быть проведена внешняя разметка и только потом внутренняя.
          li
            b Траншея
            p Ленточный фундамент, цены на который зависят от профессионализма исполнителей, предусматривает выполнение земельных работ. В частности, строители подготавливают траншею с предварительно рассчитанной глубиной. Для того, чтобы стенки траншеи не осыпались, их обычно оборудуют специальными временными подпорками. Дно траншеи должно быть максимально ровным. Поэтому специалисты время от времени проверяют дно на отсутствие уклона.
          li
            b Песчаная подушка
            p Далее в траншею насыпается речной песок, который образовывает песчаную подушку для перераспределения нагрузки. Песок засыпают в несколько слоев, каждый из которых сначала поливают водой, а потом утрамбовывают.
          li
            b Монтаж и заливка
            p Далее ленточный фундамент в СПб предусматривает установку опалубки и арматуры. После этого прокладываются все необходимые инженерные коммуникации. На завершающем этапе выполняется заливка бетоном и утепление основания.
      .fundament__button Развернуть

    include ../gallery/gallery

    .facing__form
      img.facing__formImage.lazy(data-src='modules/facing/img/facing-form2.png' style='top: 0px; left: 109px;')
      .facing__formContent
        h3.facing__formTitle Для подробной консультации заполните #[br]форму ниже
        .facing__formInputs
          .input.input--phone.input--textBlack: input(placeholder='Ваш номер телефона:' type='tel')
          .input.input--textBlack: input(placeholder='Площадь Вашего помещени:')
          button.btn.btn--block УЗНАТЬ ПОДРОБНЕЕ
