.items.items--test.lines
  .c
    h2.items__title Спасибо за завершение теста!#[br] По Вашим параметрам мы подобрали следующие проекты.
    .items__container
      .items__slider
        .items__items
          each i in [1,2,3,4,5]
            .items__item
              a.items__inner(href='#')
                .items__img(style='background-image: url(modules/items/items-img.jpg)')
                h2.items__header Дом серии Hurry
                .items__info
                  .items__value
                    svg: use(xlink:href="#icon-s")
                    | 300 М#[sup 2]
                  .items__value
                    svg: use(xlink:href="#icon-rouble")
                    | 5,7 МЛН РУБ

      .items__pagination
        button.arrow.arrow--left: svg: use(xlink:href="#icon-slider-arrow")
        button.arrow.arrow--right: svg: use(xlink:href="#icon-slider-arrow")
