.task
  .c
    .task__container
      img.task__image.lazy(data-src='modules/task/task-img.jpg')
      .task__inner
        h2.task__title У вас похожая задача? Мы сможем помочь Вам!
        h3.task__subtitle Опишите свою задачу и компания Toive поможет Вам с решением в течение 5 минут!
        .task__form
          .input.input--textBlack: textarea(placeholder='Опишите Вашу задачу:')
          .task__row
            .input.input--textBlack.input--phone: input(placeholder='Ваш номер телефона:')
            button.btn.btn--block РЕШИМ ВАШУ ЗАДАЧУ
