.task
  padding: 31px 0 80px
  background-color: #f7f8fa
  @media (max-width: $breakpoint-lg - 1)
    padding: 11px 0 27px
  @media (max-width: $breakpoint-md - 1)
    padding: 9px 0 20px
  @media (max-width: $breakpoint-sm - 1)
    padding: 9px 0 0px
    background: #eef0f2

  &__container
    border: 10px solid #e1e3e6
    text-align: center;
    position: relative;
    margin-right: 20px
    @media (max-width: $breakpoint-lg - 1)
      margin-right: 0
    @media (max-width: $breakpoint-md - 1)
      border-width: 4px
    @media (max-width: $breakpoint-sm - 1)
      border: 0


    &:before
      content: ''
      position: absolute;
      border: 1px solid #e1e3e6
      border-left: 0
      top: 9px
      left: 0
      right: -30px
      bottom: -30px
      @media (max-width: $breakpoint-lg - 1)
        display: none;

    &:after
      content: ''
      position: absolute;
      background: #f7f8fa
      bottom: -30px
      left: 0
      width: 11px;
      height: 20px;
      border-right: 1px solid #e1e3e6;
      @media (max-width: $breakpoint-lg - 1)
        display: none;

  &__image
    position: absolute;
    left: 50%
    top: 50%
    margin-left: 265px
    margin-top: -99px
    @media (max-width: $breakpoint-lg - 1)
      display: none;

  &__inner
    position: relative;
    z-index: 1
    padding: 57px 30px 74px
    @media (max-width: $breakpoint-lg - 1)
      padding: 34px 31px 55px
    @media (max-width: $breakpoint-md - 1)
      padding: 32px 10px 55px
    @media (max-width: $breakpoint-sm - 1)
      padding: 25px 0px 55px

  &__title
    font-size: 30px
    margin-bottom: 33px
    font-weight: 700
    padding: 0 20px
    @media (max-width: $breakpoint-lg - 1)
      line-height: 1.6
      margin-bottom: 9px
    @media (max-width: $breakpoint-md - 1)
      font-size: 26px
      line-height: 1.45
      margin-bottom: 26px
    @media (max-width: $breakpoint-sm - 1)
      font-size: 21px;
      line-height: 1.75;
      margin-bottom: 16px
      padding: 0

  &__subtitle
    font-size: 20px
    margin-bottom: 52px
    font-weight: 700
    @media (max-width: $breakpoint-lg - 1)
      line-height: 1.8
      margin-bottom: 46px
      font-size: 17px
    @media (max-width: $breakpoint-sm - 1)
      font-family: 'Roboto', sans-serif;
      font-weight: 300
      font-size: 16px
      line-height: 1.5
      margin-bottom: 49px

  &__form
    padding: 0 69px
    @media (max-width: $breakpoint-lg - 1)
      padding: 0
    @media (max-width: $breakpoint-md - 1)
      padding: 0 32px
    @media (max-width: $breakpoint-sm - 1)
      padding: 0

    textarea
      min-height 90px

  &__row
    display: flex;
    max-width 780px
    margin: 29px -18px 0
    @media (max-width: $breakpoint-lg - 1)
      flex-direction column
      max-width 348px
      margin: 0 auto
    @media (max-width: $breakpoint-md - 1)
      max-width none

    > *
      margin: 0 18px
      flex: 1
      @media (max-width: $breakpoint-lg - 1)
        margin: 29px 0 0

    .btn
      @media (max-width: $breakpoint-lg - 1)
        margin-top: 37px
