footer.footer
  .footer__top
    .c.footer__menu
      ul
        li
          a(href='#') О нас
          ul
            li: a(href='#') Акции
            li: a(href='#') Построенные дома
            li: a(href='#') Наш блог
            li: a(href='#') Контакты
            li: a(href='#') Тест: Подбор дома
        li
          a(href='#') Строительство монолитных домов
          ul
            li: a(href='#') Строительство кирпичных домов
            li: a(href='#') Строительство домов из газобетона
            li: a(href='#') Строительство домов из дерева
        li
          a(href='#') Прокладка инженерных сетей
          ul
            li: a(href='#') Строительство фундаментов
            li: a(href='#') Все проекты домов
            li: a(href='#') Отделочные работы

      .footer__contacts
        div
          p: b Для консультации - Звоните:#[br]
          p: b +7 (812) 603-41-8
          p Пишите: info@info.ru
          p Ежедневно с 8:00 до 22:00
        div
          a.footer__button.popup__opener(href='#callback') ЗАКАЗАТЬ ЗВОНОК


  .footer__bottom
    .c
      .footer__left
        .footer__title ООО "VALVELIFE" ИНН 9999999999 | КПП 7999999999 | ОГРН 999999999
      .footer__info Вся предоставленная на сайте информация ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса РФ
      a.footer__link(href='https://gen-marketing.ru/' target='_blank'): img(src='modules/footer/making.png')
