.map
  .c
    .map__info
      .map__item
        .map__label Офис:
        .map__value +7 (765) 89-77-89
      .map__item
        .map__label Главный инженер:
        .map__value +7 (765) 89-77-89
      .map__item
        .map__label Почта:
        .map__value mail@mail.ru
      .map__item
        .map__label Адрес офиса:
        .map__value Г. Спб ул Морская д 8 офис 504

    .map__map

