.included.lines
  .c
    h2.included__title Что входит в стоимость #[br]постройки дома:

    .included__slider
      .included__items

        .included__item.included__item--fundament: .included__itemInner
          .included__content: .included__contentInner
            .included__head Фундамент
            ul
              li Геодезическое исследование участка
              li Проект Конструкций железобетонных
              li Подбор и проверка бетона
              li Забивные сваи
              li Геологическое исследование грунта
              li Привязка осей на местности
              li Монолитный Ж/б ростверк
              li Геодезическое исследование участка
              li Проект Конструкций железобетонных
              li Подбор и проверка бетона
              li Забивные сваи
              li Геологическое исследование грунта
              li Привязка осей на местности
              li Монолитный Ж/б ростверк
            .included__track
              .included__bar

        .included__item.included__item--steni: .included__itemInner
          .included__content: .included__contentInner
            .included__head Стеновой комплект
            ul
              li Геодезическое исследование участка
              li Проект Конструкций железобетонных
              li Подбор и проверка бетона
              li Забивные сваи
              li Геологическое исследование грунта
              li Привязка осей на местности
              li Монолитный Ж/б ростверк
              li Геодезическое исследование участка
              li Проект Конструкций железобетонных
              li Подбор и проверка бетона
              li Забивные сваи
              li Геологическое исследование грунта
              li Привязка осей на местности
              li Монолитный Ж/б ростверк
            .included__track
              .included__bar

        .included__item.included__item--krovlya: .included__itemInner
          .included__content
            .included__contentInner
              .included__head Кровля
              ul
                li Геодезическое исследование участка
                li Проект Конструкций железобетонных
                li Подбор и проверка бетона
                li Забивные сваи
                li Геологическое исследование грунта
                li Привязка осей на местности
                li Монолитный Ж/б ростверк
                li Геодезическое исследование участка
                li Проект Конструкций железобетонных
                li Подбор и проверка бетона
                li Забивные сваи
                li Геологическое исследование грунта
                li Привязка осей на местности
                li Монолитный Ж/б ростверк
            .included__track
              .included__bar

        .included__item.included__item--dveri: .included__itemInner
          .included__content
            .included__contentInner
              .included__head Окна и двери
              ul
                li Геодезическое исследование участка
                li Проект Конструкций железобетонных
                li Подбор и проверка бетона
                li Забивные сваи
                li Геологическое исследование грунта
                li Привязка осей на местности
                li Монолитный Ж/б ростверк
                li Геодезическое исследование участка
                li Проект Конструкций железобетонных
                li Подбор и проверка бетона
                li Забивные сваи
                li Геологическое исследование грунта
                li Привязка осей на местности
                li Монолитный Ж/б ростверк
            .included__track
              .included__bar

        .included__item.included__item--soprovojdenie: .included__itemInner
          .included__content
            .included__contentInner
              .included__head Сопровождение строительства
              ul
                li Геодезическое исследование участка
                li Проект Конструкций железобетонных
                li Подбор и проверка бетона
                li Забивные сваи
                li Геологическое исследование грунта
                li Привязка осей на местности
                li Монолитный Ж/б ростверк
                li Геодезическое исследование участка
                li Проект Конструкций железобетонных
                li Подбор и проверка бетона
                li Забивные сваи
                li Геологическое исследование грунта
                li Привязка осей на местности
                li Монолитный Ж/б ростверк
            .included__track
              .included__bar

        .included__item.included__item--sistemi: .included__itemInner
          .included__content
            .included__contentInner
              .included__head Инженерные системы и электрика
              ul
                li Геодезическое исследование участка
                li Проект Конструкций железобетонных
                li Подбор и проверка бетона
                li Забивные сваи
                li Геологическое исследование грунта
                li Привязка осей на местности
                li Монолитный Ж/б ростверк
                li Геодезическое исследование участка
                li Проект Конструкций железобетонных
                li Подбор и проверка бетона
                li Забивные сваи
                li Геологическое исследование грунта
                li Привязка осей на местности
                li Монолитный Ж/б ростверк
            .included__track
              .included__bar

    .included__pagination
      button.arrow.arrow--left: svg: use(xlink:href="#icon-slider-arrow")
      button.arrow.arrow--right: svg: use(xlink:href="#icon-slider-arrow")

